
/* Estilos gerais */
Body, main, div, section, a, ul, li, img, figure, p, header, nav, h2 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}




body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(20deg, #121212, #121212), #F1F1F1;
    color : #F1F1F1;

}
main {
    display: flex;
    flex-wrap: wrap;
}
.sideBarFlowfie{ 
    height: 400px;
    width: 235px;
    
}
.sideBarFlowfie > nav{
    margin: 0;
    width:10%; 
    padding: 20px; 
    margin-bottom: 30px;
}
.sideBarFlowfie > img {
    width: 235px;
    height: 235px;

}

.menuDeNavegacao{}

.linksProgama{
    color: #F1F1F1;
    width: 180px;
    align-items: center;
}
.linksProgama > li {
    margin-bottom: 10px;
}
.linksProgama > li > a{
    color: #F1F1F1;
    display: flex;
}
.linksProgama > li > img{
    width: 30px;
    margin-right: 20px;

}

.SecaoMusicas{
    width:700px;
    height: 500px;
}
.Cabeçalho{
    background-image : url(C:/Users/beman/VsCodeProjects/ProjetosGit/ProjetoSpotfy/src/img/cabeçalho.jpg);
    background: linear-gradient(250deg, #2596aa, #121212), #F1F1F1;
    width: 1140px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
    position: relative;
    padding: 20px 80px;
}


.Perfil{
    display: flex;
    align-items: center;
    float: right;


}
.user > img{
    max-width: 20px;
}
.user > h2{
    font-weight: lighter;
}


.qtdMusicas{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 80px;
}
.qtdMusicas > p{
    font-size: 30px;
    font-weight: 300px;
}

.areListaMusicas{
    padding: 20px 80px;
    background: rgba(38, 52, 73, 0.993);
    width: 1140px;;
    height: 300px;
}
.btnPause{
    background-color: rgb(49, 158, 177);
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px 20px;
    margin-bottom: 30px;
}

.descricaoMusicas{
    display: flex;
}
.descricaoMusicas > .primeiroIten{
    width: 60%; 
}
.descricaoMusicas > p{
    width: 25%;
}

.ListadeMusicasDaDescricao{}
.ListadeMusicasDaDescricao > li{
    display: flex;
}
.ListadeMusicasDaDescricao > li > .primeiroIten{
    width: 60%;
}
.ListadeMusicasDaDescricao > li > p{
    width: 25%;
}

.playerDeMusica{
    width:100%;
}

.musicaTocando{
}

.imagemDosAlbuns{}
.imagemDosAlbuns > img{
    height:100px;
    width:100px;
}
.imagemDosAlbuns > figcaption{}

.musicaTocando > h2{}
.musicaTocando > p{}


.controladorMusicas{}
.controladorMusicas > button{}


#voltarButton{}
#pausarplayButton{}
#avancarMusica{}

.volumeMusicas{}