
/* Estilos gerais */
Body, main, div, section, a, ul, li, img, figure, p, header, nav, h2 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}




body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(20deg, #121212, #121212), #F1F1F1;
    color : #F1F1F1;

}
main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.sideBarFlowfie{ 
    height: 400px;
    width: 235px;
    height: calc(100% - 130px);
    
}
.sideBarFlowfie > nav{
    margin: 0;
    width:10%; 
    padding: 20px; 
    margin-bottom: 30px;
}
.sideBarFlowfie > img {
    width: 235px;
    height: 235px;

}

.menuDeNavegacao{}

.linksProgama{
    color: #F1F1F1;
    width: 180px;
    align-items: center;
}
.linksProgama > li {
    margin-bottom: 10px;
}
.linksProgama > li > a{
    color: #F1F1F1;
    display: flex;
}
.linksProgama > li > img{
    width: 30px;
    margin-right: 20px;

}

.SecaoMusicas{
    width:700px;
    height: 500px;
}
.Cabeçalho{
    background-image : url(C:/Users/beman/VsCodeProjects/ProjetosGit/ProjetoSpotfy/src/img/cabeçalho.jpg);
    background: linear-gradient(250deg, #2596aa, #121212), #F1F1F1;
    width: 1450px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
    position: relative;
    padding: 20px 80px;
}


.Perfil{
    display: flex;
    align-items: center;
    float: right;


}
.user > img{
    max-width: 20px;
}
.user > h2{
    font-weight: lighter;
}


.qtdMusicas{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 80px;
}
.qtdMusicas > p{
    font-size: 30px;
    font-weight: 300px;
}

.areListaMusicas{
    padding: 20px 80px;
    background: rgba(31, 44, 49, 0.993);
    width: 1450px;;
    height: 500px;
}
.btnPause{
    background-color: rgb(49, 158, 177);
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px 20px;
    margin-bottom: 30px;
}

.descricaoMusicas{
    display: flex;
    border-bottom: 1.5px solid white;
    padding: 8px 56px;
}
.descricaoMusicas > .primeiroIten{
    width: 60%; 
}
.descricaoMusicas > p{
    width: 25%;
}

.ListadeMusicasDaDescricao{
    height: 340px;
    overflow-y: scroll;

}
.ListadeMusicasDaDescricao > li{
    border-bottom: 0.5px solid white;
    padding: 8px 56px;
    display: flex;
}
.ListadeMusicasDaDescricao > li > .primeiroIten{
    width: 60%;
}
.ListadeMusicasDaDescricao > li > p{
    width: 25%;
}

.playerDeMusica{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    padding-right: 80px;
    height: 100px;

}

.musicaTocando{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.imagemDosAlbuns{}
.imagemDosAlbuns > img{
    height:85px;
    width: 85px;
    margin-top: 5px;
}
.imagemDosAlbuns > figcaption{
    display: none;
}

.infoAlbum{
    margin-right: 20px;
}
.infoAlbum > h2{
    margin-bottom: 8px;
    font-size: 128%;
    margin-left: 1%;
}
.infoAlbum > p{
    font-size: 90%;
    margin-left: 2%;
}


.controladorMusicas{}
.controladorMusicas > button{
    width: 31px;
    height: 31px;
    background: transparent;
    border: none;
    background-position: center;
    background-size: 23px;
    background-repeat: no-repeat;
}

#voltarButton{
    background-image: url("C:/Users/beman/VsCodeProjects/ProjetosGit/ProjetoSpotfy/src/img/previous.png");
    background-size: cover;
}
#pausarplayButton{
    background-image: url("C:/Users/beman/VsCodeProjects/ProjetosGit/ProjetoSpotfy/src/img/play.png");
    background-size: 40px;
    margin: 0 20px;


}
#avancarMusica{
    background-image: url("C:/Users/beman/VsCodeProjects/ProjetosGit/ProjetoSpotfy/src/img/next.png");
    background-size: cover;
}

.volumeMusicas{
    background-image: url("C:/Users/beman/VsCodeProjects/ProjetosGit/ProjetoSpotfy/src/img/volume.png");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 30px; 
}